/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */

#middle {
  margin: 0 auto;
  width: 600px;
}

.search_form{
  text-align: center;
}

#letter, #count {
  font-size: 30px;
  height: 33px;
  line-height: 30px;
  padding: 7px;
}
#count {
  width: 30px;
  text-align: right;
}
.result {
  border-bottom: 1px solid #aaa;
  margin-bottom: 16px;
  padding-bottom: 10px;
}